body
{
   font-family: 'M PLUS Rounded 1c', sans-serif;
   margin:0px;
   padding:0px ;
}
.brand
{
   color:rgb(243, 74, 108);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 2%;
   height: 8vh;
   font-family: 'M PLUS Rounded 1c', sans-serif;
}
.fa-bars
{
   border: rgb(243, 74, 108) 1px solid;
   padding-left:22px;
   padding-right:22px;
   padding-top: 8px;
   border-radius: 8%;
}
.logo
{
   margin-top: 5px;
}
.welcome_div
{
   background-color: rgb(221, 239, 247);
   padding-top: 7%;
   padding-left: 2%;
   padding-right: 2%;
}
.welcome_text
{
   font-family: 'M PLUS Rounded 1c', sans-serif;
}
.email
{
   height: 8vh;
   font-family: 'M PLUS Rounded 1c', sans-serif;
   margin-top: 10%;
}
.email_input
{
   border-radius: 40rem;
   height: 95%;
   width: 50%;
   border: solid 1px rgb(231, 228, 229);
}
.button
{
   border-radius: 40rem;
   background-color: rgb(243, 74, 108) ;
   color: white;
   border: none;
}
.get_started
{
   border-radius: 40rem;
   height: 100%;
   width: 35%;
   background-color: rgb(243, 74, 108) ;
   color: white;
   border: none;
}
.email_input::placeholder
{
   padding: 5%;
}  
.email_input:active,.email_input:focus
{
   outline: none;
}  
.what_we_do
{
   text-align: center;
   align-content: center;
   margin: 2%;
   margin-top: 15%;
}
.what_we_do h2,.what_we_do h3
{
   color: rgb(2, 2, 99);
}
.what_we_do img
{
   border-radius: 27%;
}
.featured
{
   color:rgb(2, 2, 99);
   font-weight: 700;
   font-size: 0.9rem;
   padding: 8% ;
   background-color: rgb(221, 239, 247);
   margin: 15% 0%;
}
.featured_text_with_images
{
   display: flex;
   flex-direction: row;
   align-content: space-between;
}  
.logo1
{
   width: 29%;
   background: transparent;
}
.logo2
{
   width: 29%;
   background: transparent;
}
.logo3
{
   width: 25%;
   margin-left: 3%;
}
.logo4
{
   width: 60%;
   margin-right: 3%;
}
.featured_text
{
   padding-top: 5%;
   width: 39%;
}
.fa-li
{
   color: rgb(243, 74, 108) ;
}
.discover
{
   margin: 2%;
}
.discover h2
{
   color:rgb(2, 2, 99);
}
.discover_button_div
{
   height: 7vh;
}
.discover_button
{
   height: 100%;
   width: 33vw;
   font-size: medium;
}